async-timeout==4.0.3
attrs==23.1.0
contourpy==1.1.1
cycler==0.11.0
Cython==0.29.36
flatbuffers==23.5.26
fonttools==4.42.1
imageio==2.31.3
importlib-resources==6.0.1
javaproperties==0.8.1
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
kiwisolver==1.4.5
matplotlib==3.8.0
mypy-extensions==1.0.0
networkx==3.1
numpy==1.22.1
onnx==1.10.2
onnxruntime==1.10.0
opencv-python==4.8.0.76
opex==0.0.2
packaging==23.1
Pillow==8.4.0
protobuf==4.24.3
pyparsing==3.1.1
python-dateutil==2.8.2
python-image-complete==0.0.5
PyWavelets==1.4.1
redis==5.0.0
redis-docker-harness==0.0.4
referencing==0.30.2
rpds-py==0.10.3
scikit-image==0.19.3
scipy==1.11.2
simple-file-poller==0.0.10
six==1.16.0
tifffile==2023.8.30
torch==1.9.1
torchvision==0.10.1
typing-extensions==4.7.1
typing-inspect==0.9.0
wai.common==0.0.42
wai.json==0.0.5
wai.pycocotools==12.1
watchdog==3.0.0
zipp==3.16.2
