async-timeout==4.0.3
contourpy==1.2.1
cycler==0.12.1
Cython==0.29.37
fast-opex==0.0.2
flatbuffers==24.3.25
fonttools==4.53.0
imageio==2.34.1
importlib-resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.9.0
networkx==3.2.1
numpy==2.0.0
onnx==1.10.2
onnxruntime==1.10.0
opencv-python==4.10.0.82
orjson==3.10.5
packaging==24.1
Pillow==8.4.0
protobuf==5.27.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-image-complete==0.0.5
pywavelets==1.6.0
redis==5.0.6
redis-docker-harness==0.0.4
scikit-image==0.19.3
scipy==1.13.1
simple-file-poller==0.0.10
six==1.16.0
tifffile==2024.5.22
torch==1.9.1
torchvision==0.10.1
typing-extensions==4.12.2
wai.pycocotools==12.1.1
watchdog==4.0.1
zipp==3.19.2
